<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ data.description }}">
        {{#if data.facebookcomments}}<meta property="fb:app_id" content="{{ data.facebookcomments }}"/>{{/if}}
        <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap-sass/dist/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/bower_components/flat-ui/dist/css/flat-ui.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/bower_components/highlightjs/styles/rainbow.css" media="all" />
        <link rel="alternate" type="application/rss+xml" title="{{ data.title }} - feed" href="/atom.xml" />
        <title>{{#if meta.title}}{{ meta.title }} - {{/if}}{{ data.title }}</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="page-header">
                    <a href="/"><h1>{{ data.title }}</h1></a>
                    <h2>{{ data.description }}</h2>
                    <nav>
                        <a href="/">Home</a> | <a href="/archive/">Archives</a> | <a href="/about/">About</a> | <a href="/atom.xml">RSS</a>
                    </nav>
                </div>
            </div>
        </header>
