{{> ampheader }}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <article class="post">
                <p class="date">{{ this.meta.formattedDate }}</p>
                <h1>{{capitalize meta.title}}</h1>
                {{{ post.content }}}
              <section>
                <ul class="categories">{{#each meta.categories }}<li><a href="/blog/categories/{{ linkformat this }}/">{{ this }}</a></li>{{/each}}</ul>
              </section>
              <section>
              <a class="commentlink" href="{{ canonical }}">View the article with comments</a>
              </section>
              <section>
              {{#if next}}
              <a class="postlink" href="{{ next.path }}amp/">{{capitalize next.title}}</a>
              {{/if}}
              {{#if prev}}
              <a class="postlink" href="{{ prev.path }}amp/">{{capitalize prev.title}}</a>
              {{/if}}
              </section>
            </article>
        </div>
    </div>
</div>

{{> ampfooter }}
