{{> ampheader }}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <article class="post">
                <p class="date">{{ this.meta.formattedDate }}</p>
                <h1>{{capitalize meta.title}}</h1>
                {{{ post.content }}}
                <ul>{{#each meta.categories }}<li><a href="/blog/categories/{{ linkformat this }}/">{{ this }}</a></li>{{/each}}</ul>
              </section>
            </article>
        </div>
        {{> sidebar }}
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#if next}}
            <a href="{{ next.path }}/amp/">{{capitalize next.title}}</a>
            {{/if}}
            {{#if prev}}
            <a href="{{ prev.path }}/amp/">{{capitalize prev.title}}</a>
            {{/if}}
        </div>
    </div>

</div>

{{> ampfooter }}
