{{> header }}

<div class="container">
{{#each posts}}
    <article class="post">
        <h1><a href="{{ this.meta.permalink }}">{{ this.meta.title }}</a></h1>
        {{{ this.post.content }}}
    </article>
{{/each}}

 <ul class="pager">
{{#if nextChunk}}
    <li><a href="/posts/{{ nextChunk }}/">Older</a></li>
{{/if}}

{{#if prevChunk}}
    <li><a href="/posts/{{ prevChunk }}/">Newer</a></li>
{{/if}}
 </ul>

</div>
{{> footer }}
