{{> header }}

<div class="container">

    {{#if data.facebookcomments }}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {{/if}}

    <div class="row">
        <div class="col-md-8">
            <article class="post">
                <p class="date">{{ this.meta.formattedDate }}</p>
                <h1>{{ meta.title }}</h1>
                {{{ post.content }}}
                {{#if data.addthis}}<div class="addthis_sharing_toolbox"></div>{{/if}}
              <section class="comments">
                  {{#if data.disqus }}
                  <div id="disqus_thread"></div>
                  <script type="text/javascript">
                    window.disqus_identifier="";
                    window.disqus_url="{{ data.url }}{{ path }}/";
                    window.disqus_title="{{ meta.title }}";
                  </script>
                  <script type="text/javascript" src="http://disqus.com/forums/{{ data.disqus }}/embed.js"></script>
                  <noscript><a href="http://{{ data.disqus }}.disqus.com/?url=ref">View the discussion thread.</a></noscript>
                {{/if}}
                {{#if data.facebookcomments }}
                <div class="fb-comments" data-href="{{ data.url }}{{ path }}/" data-width="470" data-num-posts="10"></div>
                    </div>
                {{/if}}
              </section>
            </article>
        </div>
        {{> sidebar }}
    </div>

    <div class="row">
        <div class="col-md-12">
            {{#if next}}
            <a href="{{ next.path }}">{{ next.title }}</a>
            {{/if}}
            {{#if prev}}
            <a href="{{ prev.path }}">{{ prev.title }}</a>
            {{/if}}
        </div>
    </div>

</div>

{{> footer }}
